.auth__input {
  width: 100%;
  border: 1px solid #74808c;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 16px 10px;
  color: #949397;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  opacity: 0.6;
  margin-bottom: 20px;
}
.auth__input::placeholder {
  font-family: inherit;
  font-weight: 300;
  opacity: 0.6;
  font-size: inherit;
}
.authBottom {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 25px;
  text-align: center;
}
.auth__text {
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;

  text-align: center;
  text-decoration-line: underline;

  color: #949397;
}
.auth__btn {
  background: #0377a6;
  box-shadow: inset 47.2667px -47.2667px 47.2667px rgba(2, 90, 126, 0.112),
    inset -47.2667px 47.2667px 47.2667px rgba(255, 255, 255, 0.112);
  backdrop-filter: blur(129.511px);
  border-radius: 60px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  color: #fefdfc;
  padding: 12px 0;
  margin-top: 20px;
  transition: all 0.2s linear;
  border: 3px solid #0377a6;
}
.auth__btn:hover {
  background: #fff;
  box-shadow: none;
  color: #0377a6;
}
.auth__img {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
  background-size: contain;
}
.auth__footer_circle {
  background: url('../img/footer-bg.png') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 405px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 50px 25px;
  margin-bottom: -50px;
}
.auth__footer_title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.auth__footer_desc {
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;

  text-align: center;
  color: #fff;
}
.auth__footer_btn {
  background: #fff;
  border-radius: 60px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;

  text-align: center;

  color: #0377a6;
  padding: 12px 0;
  width: 100%;
  border: 3px solid #fff;
  transition: all 0.2s linear;
}
.auth__footer_btn:hover {
  color: #fff;
  background: transparent;
}
.auth__footer_circleBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.auth__footer_circleBtn {
  background: #ffffff;
  opacity: 0.5;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.2s linear;
}
.auth__footer_circleBtn.active {
  opacity: 1;
}
.auth__footer_circleBtn:last-child {
  margin-right: 0;
}
.auth__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #74808c;
  margin-bottom: 15px;
  text-align: center;
}
.auth__title.mb60 {
  margin-bottom: 60px;
}
.auth__subtitle {
  padding: 0 30px;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 40px;
  color: #949397;
}
.absolute {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.auth__circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.auth__circle {
  width: 13px;
  height: 13px;
  background: #949397;
  mix-blend-mode: normal;
  opacity: 0.5;
  transition: all 0.2s linear;
  margin-right: 15px;
  border-radius: 50%;
}
.auth__circle.active {
  opacity: 1;
  background: #0377a6;
}
.auth__circle:last-child {
  margin-right: 0;
}
