@import url('./fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  font-family: 'Muller';
  font-size: 16px;
  min-height: 100vh;
  height: 100%;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: #fff;
}
.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
